{% extends "layout.html" %}

{% block content %}

<div class="content-section">

    <!-- Means that it will post action to same route as it currently is -->
    <form method="POST" action="">

        <!-- Adds csrs token, this is where the hidden key helps with it -->
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Mindful Me</legend>

            <div class = "form-group">
                <h1>Realtime Emotion</h1>
                <img id="bg" src="{{ url_for('users.video_feed') }}">
            </div>
        
            <div class="form-group">


                <!-- Adding in some bootstrap to the form, label(adds in the css class) -->

                {{ form.url.label(class="form-control-label") }}

                {% if form.url.errors %}

                {{ form.url(class="form-control form-control-lg is-invalid") }}

                    <div class="invalid-feedback">

                        {% for error in form.url.errors %}

                        <span>{{ error }}</span>

                        {% endfor %}

                    </div>

                {% else %}
                {{ form.url(class="form-control formcontrol-lg") }}
                {% endif %}

            </div>

        </fieldset>


        <div class="form-group">
            {{ form.csrf_token }} 
            {{ form.submit(class="btn btn-outline-info") }}

        </div>

        <div class = "form-group">
            <h1>Analysis</h1>
            <img id="bg" src="{{ graph }}">
        </div>

    </form>

</div>

{% endblock content %}